<h1>All Artists</h1>

<% @artists.each do |artist| %>
  <div class="artist">
    <h2><%= artist.name %></h2>
    <%= artist.albums.count %> albums
    <ul class="albums">
      <% artist.albums.each do |album| %>
        <li><%= album.name %></li>
      <% end %>
    </ul>
    <%= link_to "Add Album", new_album_path %>

  </div>
<% end %>
