<h1>Author: <%= @author.name %></h1>

<h2>Writer or co-writer on:<h2>
<ul>
  <% @author.books.each do |book| %>
    <li><%= link_to book.name, book %></li>
  <% end %>
</ul>

<%= link_to "Edit Author", edit_author_path(@author) %>
