<h1>All Users</h1>

<%= link_to 'Create new user', new_user_path %>

<dl>
  <% @users.each do |user| %>
    <dt><%= link_to user.name, user_articles_path(user) %></dt>
    <dd><%= user.email %></dd>
  <% end %>
</dl>
