<li>
  <%= link_to(album.name, album_path(album.id) ) %> 
  | <%= link_to('Edit', edit_album_path(album)) %>
  | <%= link_to('Delete', album, method: :delete, data: {confirm: 'Are you sure'}) %>
</li>
