<p>
  Album: <%= @album.name %>
  <br>
  Genre: <%= @album.genre %>
  <br>
  <!-- a link to show all of the songs for this album -->
  <%= link_to 'Songs', album_songs_path(@album.id)%>
</p>


<%= link_to 'Albums', albums_path%>
